<div class="item-slick2 p-l-15 p-r-15">
    <!-- Block2 -->
    <div class="block2">
        <div class="block2-img wrap-pic-w of-hidden pos-relative">
            <img src="{{ product.pictureUrl }}" alt="IMG-PRODUCT">

            <div class="block2-overlay trans-0-4">
                <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>

        <div class="block2-txt p-t-20">
            <a href="{{ path('product', {'slug': product.slug}) }}" class="block2-name dis-block s-text3 p-b-5">
                {{ product.name }}
            </a>

            <span class="block2-price m-text6 p-r-5">
                {{ product.price }}€
            </span>
        </div>
    </div>
</div>
