<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>E-commerce - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% include 'partials/stylesheet.html.twig' %}
    </head>
    <body class="animsition">
        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'partials/footer.html.twig' %}
    </body>
</html>
